asgiref==3.11.1
boto3==1.43.27
botocore==1.43.27
Django==6.0.6
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.2
python-dateutil==2.9.0.post0
s3transfer==0.18.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
